<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>bullshitbingogpt</title>
  <link rel="stylesheet" href="style.css" />
  <style>
    body {
      font-family: 'Dosis', sans-serif;
      /* Apply Dosis font */
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      font-size: 16px;
    }

    .fs-4 {
      font-family: 'Dosis', sans-serif;
      font-size: 1.1em;
    }

    .container-info {
      display: flex;
      justify-content: space-between;
      font-size: medium;
    }

    #wrapper {
      flex: 1;
    }

    #footer {
      flex-shrink: 0;
    }

    .center-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    .padded-link {
      padding-right: 100px;
    }

    .nav-pills .nav-item {
      margin-right: 5px;
    }

    #move_pic {
      position: relative;
      width: 55vw;
      height: 55vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      left: -100px;
      top: -200px;
      bottom: -1000;

    }

    #movingImage {
      position: absolute;
      width: 13%;
      height: 18%;
      transition: transform 1s ease-in-out;
      justify-content: center;
    }
  </style>
  <script>
    fn = function () {
      const textContainer = document.getElementById('moving_text');
      if (textContainer) {
        const textToAnimate = textContainer.innerHTML
        textContainer.innerHTML = ""
        let currentIndex = 0;

        function animateText() {
          if (currentIndex < textToAnimate.length) {
            const letter = textToAnimate[currentIndex];
            textContainer.innerHTML = textToAnimate.substring(0, currentIndex) + '█';
            textContainer.innerHTML = textContainer.innerHTML.replaceAll('\n', '<br/>')
            currentIndex++;
            setTimeout(animateText, Math.floor(Math.random() + 0.005) * 300 + 5); //time interval for the animation
          }
          else { textContainer.innerHTML = textToAnimate.replaceAll('\n', '<br/>'); }
        }

        animateText();
      }
    };
    document.addEventListener('DOMContentLoaded', fn, false);

    document.addEventListener('DOMContentLoaded', function () {
      const spinnerContainer = document.getElementById('spinner-container');
      const wrapperContainer = document.getElementById('content');
      const aboutLink1 = document.querySelector('.nav-link1');
      if (aboutLink1) {

        aboutLink1.addEventListener('click', function (event) {
          event.preventDefault();

          spinnerContainer.style.display = 'flex'; // Show the spinner container general
          wrapperContainer.style.display = 'none';

          window.location.href = aboutLink.href;
        });
      }
    });

    document.addEventListener('DOMContentLoaded', function () {
      const spinnerContainer = document.getElementById('spinner-container2');
      const wrapperContainer = document.getElementById('content');
      const aboutLink2 = document.querySelector('.nav-link2');
      if (aboutLink2) {

        aboutLink2.addEventListener('click', function (event) {
          event.preventDefault();

          spinnerContainer.style.display = 'flex'; // Show the spinner container for about
          wrapperContainer.style.display = 'none';

          window.location.href = aboutLink.href;
        });
      }
    });

    document.addEventListener('DOMContentLoaded', function () {
      const spinnerContainer = document.getElementById('spinner-container3');
      const wrapperContainer = document.getElementById('content');
      const aboutLink3 = document.querySelector('.nav-link3');

      if (aboutLink3) {
        aboutLink3.addEventListener('click', function (event) {
          event.preventDefault(); // 

          spinnerContainer.style.display = 'flex'; // Show the spinner container for bingo
          wrapperContainer.style.display = 'none';

          window.location.href = aboutLink.href;
        });
      }
    });

    function moveImage() {
      const container = document.getElementById('move_pic');
      const image = document.getElementById('movingImage');
      if (container) {

        const containerWidth = container.clientWidth;
        const containerHeight = container.clientHeight;

        const spreadFactor = 0.65; // little digit -- big spread!!! Don't touch it!

        const maxX = containerWidth - image.clientWidth * (1 - spreadFactor);
        const maxY = containerHeight - image.clientHeight * (1 - spreadFactor);

        const randomX = Math.floor(Math.random() * maxX * (1 - spreadFactor));
        const randomY = Math.floor(Math.random() * maxY * (1 - spreadFactor));

        // const randomX = Math.random() < 0.5 ? Math.floor(Math.random() * maxX) : -Math.floor(Math.random() * maxX);
        // const randomY = Math.random() < 0.5 ? Math.floor(Math.random() * maxY) : -Math.floor(Math.random() * maxY);

        image.style.transform = `translate(${randomX}px, ${randomY}px)`;
      }
    }
    setInterval(moveImage, 2000);
  </script>
  {% endblock %}
</head>
<!-- <div class="container"> -->

<body class="fs-4">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 pr-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Bullshit Bingo GPT</span>
    </a>

    <ul class="nav nav-pills pr-4">
      <li class="nav-item"><a href="/extract_theme" class="nav-link padded-link" aria-current="page"
          style="color: rgb(107, 76, 20); ">Extract theme</a>
      </li>
      <li class="nav-item"><a href="/about" class="nav-link padded-link" aria-current="page"
          style="color: rgb(107, 76, 20);">About</a></li>
      <li class="nav-item"><a href="https://github.com/MarinaProsche/bullshitbingogpt" class="nav-link padded-link"
          aria-current="page" style="color: rgb(107, 76, 20);">see on github</a></li>
    </ul>
  </header>
  <!-- </div> -->
  <div id="wrapper" class="center-content d-flex flex-wrap">
    <div id="content">{% block content %}{% endblock %}</div>
    <div class="loading-container fs-4" id="spinner-container" style="display: none">
      <div class="loading-spinner">
        <div style="max-width: 100%;">Please, be patient.
          <br />Chat GPT generates an answer for you 🦾🦾
          <br>___________________________________________________________</br>
          <p></p>
        </div>
        <div>
          <br>
          <img src="{{ url_for('static', filename=gif_file) }}" width=480 height=270.000 frameBorder="0"
            allowFullScreen>
          <!-- <iframe src="https://s.yimg.com/ny/api/res/1.2/REpW_mQQvAj5FEg35TQnWg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTQ5NDtjZj13ZWJw/https://media.zenfs.com/en-US/homerun/mic_26/33a1f72f9c7070a836bf5b47c3c57480" width=480 height=270.000 frameBorder="0" allowFullScreen></iframe> -->
        </div>
      </div>
    </div>
    <div class="loading-container fs-4" id="spinner-container2" style="display: none">
      <div class="loading-spinner">
        <div class="text-center">
          <br />Let the magic happen!
        </div>
        <div>
          <br>
          <img src="{{ url_for('static', filename=bullshit) }}" width=240 height=135.000 frameBorder="0"
            allowFullScreen>
        </div>
      </div>
    </div>
    <div class="loading-container fs-4" id="spinner-container3" style="display: none">
      <div class="loading-spinner">
        <!-- <div id="move_pic">
          <img id="movingImage" src="{{ url_for('static', filename=hand) }}" frameBorder="0" allowFullScreen>
        </div> -->
      </div>
    </div>
  </div>
  <div id="footer">
    {% block footer %}
    <div style="text-align: center; font-size: 17px;">
      <p style="margin: 0; font-size: inherit;">_________________________</p>
      <p style="margin: 0; font-size: inherit;">We don't collect your data.</p>
      <p style="margin: 0; font-size: inherit;">All texts are generated by the chatGPT</p>
      <br>
    </div>
    <p class="text-center" style="text-align: center; font-size: 17px;">
      &copy; Marina Pismeniuk, marina.prosche@gmail.com
    </p>
    {% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>

</body>

</html>
