{% extends "base.html" %}

{% block content %}
<style>
    .container-info {
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="text-wrap fs-5" style="width: 77rem;">
    {% if chat_response %}
    <p> 😭 ChatGPT response was: "{{ chat_response }}", which is not one of the supported themes. 😭</p>
    <p>Please, try again:</p>
    {% else %}
    <p>🚀🚀 Hello! Welcome to Bullshit Bingo GPT! I am your trusty Little Bingo Helper!🚀🚀
        </p>
    <p>Check your text for originality! Don't hesitate, input the theme of your text,
        and I'll generate a bingo card with the most popular clichés for it. 🪄🪄
        If you have a text but are unsure about the theme, head to "extract theme," and we'll find it together! ↗️↗️↗️
    <p>Ready for some fun? Whether you're sitting through a corporate presentation 🎰, reading a marketing pitch, or simply want to find out
        how much jargon fills your own writings, Little Bingo Helper is always here for you.🔮🔮</p>
    <p>Uncover the secrets of your text and let the game begin! 🏁 🏁</p>
    <p></p>
    {% endif %}
    <br>
    <div class="d-flex justify-content-center">__________<img src="{{ url_for('static', filename=bingo) }}" width=200
            height=50 frameBorder="0" allowFullScreen> __________
    </div>
    <br>
    <br>
</div>
<form action="/bingo" method="post">
    <div>
        <div class="container-info">
            <label for="input_theme">Insert your theme with a few specific details:
                <!-- <p> ("Fiction about sad and hard woman destiny", "Uplifting text about AI-power in our future"...)</p> -->
            </label>
            <div id="count">0/1000</div>
        </div>
        <p><textarea id="textarea" name="input_theme" cols="120" rows="2"
                placeholder='Fiction about sad and hard woman destiny? Or uplifting text about AI-power in our future?..'></textarea>
        </p>
    </div>
    <div class="d-flex justify-content-center">
        <input class="btn btn-primary fs-5" id="submit" value="send" type="submit"></input>
    </div>
    <p></p>
</form>
<script>
    document.getElementById('textarea').onkeyup = function () {
        document.getElementById('count').innerHTML = this.value.length + "/1000";
        if (this.value.length > 1000) { document.getElementById("submit").disabled = true; }
        else { document.getElementById("submit").disabled = false; }
    };
    document.addEventListener('DOMContentLoaded', function () {
        const spinnerContainer = document.getElementById('spinner-container');
        const wrapperContainer = document.getElementById('content');
        const submit = document.getElementById('submit');


        submit.addEventListener('click', function (event) {

            spinnerContainer.style.display = 'flex'; // Show the spinner container
            wrapperContainer.style.display = 'none';

        });
    });
</script>
{% endblock %}
