{% extends "base.html" %}

{% block content %}
<style>
    .container-info {
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="text-wrap fs-5" style="width: 77rem;">
    {% if chat_response %}
    <p> 😭 ChatGPT response was: "{{ chat_response }}", which is not one of the supported themes. 😭</p>
    <p>Please, try again:</p>
    {% else %}
    <p>🚀🚀 Welcome to Bullshit Bingo GPT! 🚀🚀</p>
    <p>The go-to platform for transforming your text into an interactive game of clichés, jargon, and buzzwords.
        Simply input your text 📖 and let our sophisticated algorithm sift through it, identifying the most notorious
        and
        overused phrases. In moments, you'll have a unique bingo card ready for some fun! 🎰</p>
    <p>Whether you're sitting through a corporate presentation, reading a marketing pitch, or simply want to find out
        how
        much jargon fills your own writings, Bullshit Bingo GPT has got you covered. Discover the buzz in your text and
        let the games begin! 🏁</p>
    {% endif %}
    <p></p>
</div>
<form action="/bingo" method="post">
    <div>
        <div class="container-info">
            <label for="input_theme">Insert your theme (up to 1000 symbols)</label>
            <div id="count">0/1000</div>
        </div>
        <p><textarea id="textarea" name="input_theme" cols="120" rows="2"></textarea></p>
    </div>
    <div class="d-flex justify-content-center">
        <input class="btn btn-primary fs-5" id="submit" value="send" type="submit"></input>
    </div>
    <p></p>
</form>
<script>
    document.getElementById('textarea').onkeyup = function () {
        document.getElementById('count').innerHTML = this.value.length + "/1000";
        if (this.value.length > 1000) { document.getElementById("submit").disabled = true; }
        else { document.getElementById("submit").disabled = false; }
    };
    document.addEventListener('DOMContentLoaded', function () {
        const spinnerContainer = document.getElementById('spinner-container');
        const wrapperContainer = document.getElementById('content');
        const submit = document.getElementById('submit');


        submit.addEventListener('click', function (event) {

            spinnerContainer.style.display = 'flex'; // Show the spinner container
            wrapperContainer.style.display = 'none';

        });
    });
</script>
{% endblock %}
