<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>bullshitbingogpt</title>
</head>

<body>
    <p> ChatGPT response was: "{{ theme_of_sent_text }}", which is not one of the supported themes</p>

    <form action="" method="post">
        <p>
            <label for="input_text">Please, insert another text</label>
            <textarea name="input_text" cols="120" rows="20"></textarea>
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

</body>

</html>